package layouts

templ domInitializer(jsDefinitions templ.Component, cssDefinitions templ.Component, pageTitle string) {
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> { pageTitle }</title>
        @jsDefinitions
    </head>

    <body>
        { children...}
    </body>
    @cssDefinitions

    </html>
}