package layouts

templ MainCSS() {
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/output.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
}