package hr

templ Default(shouldDisplay bool) {
    if shouldDisplay {
        <hr class="rounded w-5/6 border-slate-600 m-0 mx-auto mb-5" />
    }
}

templ Inter() {
    <hr class="rounded w-5/6 border-slate-600 m-0 mx-auto my-5" />
}

templ Vertical() {
    <div class="w-1 h-max bg-slate-600"></div>
}