/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
}

.sidebar {
    min-width: 250px;
    /* Slightly lighter than main background */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.side-title {
    font-size: 1.5rem;
    color: #90caf9;
    /* Soft blue */
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li, .button {
    /* Dark gray for menu items */
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

a, a:visited {
    color: #e0e0e0;
}

h1, .side-title {
    text-align: center;
    text-transform: uppercase;
  }
  
  /* Section headers (h2) */
  h2 {
    font-size: 1.8rem;
  }
  
  /* Parameter containers (divs) */
  div.config-content {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Highlighted parameter divs */
  div.config-content .highlighted {
    min-width: 100px
  }
  
  hr {
    border-color: #2a2a2a;
  }

  .container {
    margin: 0 auto;
  }