[Unit]
Description=Josuke Daemon
After=network-online.target
 
[Service]
Type=simple
 
User=root
Group=root
UMask=007

Environment="CARGO=/home/mkd/.cargo/bin/cargo"
Environment="PWD=/home/mkd/work/logchest"
Environment="PWD_BYPASSCORS=/home/mkd/work/bypasscors"
ExecStart=/home/mkd/go/bin/josuke -c /home/mkd/config/josuke.config.json
 
Restart=on-failure
 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]
WantedBy=multi-user.target
