[Unit]
Description = salut
After       = 

[Service]
ExecStart   = PWD=/home/mkd/work/logchestsssss
Type        = 
Environment = PWD=/home/mkd/work/logchestsss
