package pages

import (
    "monkeydioude/grig/pkg/html/elements/form"
    "monkeydioude/grig/pkg/html/elements/hx"
    "monkeydioude/grig/pkg/html/elements/card"
    "monkeydioude/grig/pkg/html/elements/input"
    "monkeydioude/grig/internal/html/blocks"
    "monkeydioude/grig/pkg/html/elements/htmx"
	"monkeydioude/grig/pkg/html/elements/button"
	"monkeydioude/grig/internal/consts"
)

templ (page Services) Content() {
    <div class="pb-3">
        <div class="flex items-center justify-between gap-4">
            @card.Header("Services", "")
            @button.AjaxSimplePostUrl(
                "/cmd/services/restart",
                consts.ALL_SERVICES_RESTARTED_SUCCESS_MSG,
                consts.ALL_SERVICES_RESTARTED_ERR_MSG,
                button.Warning,
            ) { Restart all services }
        </div>
        {{ factory := htmx.NewJsonFactory().WithSwapTarget(htmx.BeforeEnd, "next .services-container")}}
        @card.Panel() {
            @hx.H3("Add a service")
            <div class="flex flex-wrap items-end gap-3">
                @factory.Form("/services/by_filepath") {
                    <div class="flex flex-col">
                        <label class={form.Label} for="filepath">By file path</label>
                        @input.Text("filepath", "Path to the service file")
                    </div>
                }
                {{ factory = htmx.NewFactory().
                    WithSwapTarget(htmx.BeforeBegin, "next .services-container").
                    WithMessages("", "huho").
                    WithIndexCounter(".services-service-block")}}
                @factory.Button("/services/service/block") { New blank service }
            </div>
        }

        @form.JsonPostForm("/api/v1/services") {
            <div class="services-container">
                for it, srvc := range page.Data {
                    @blocks.ServicesService(it, srvc)
                }
            </div>
        }
    </div>
}