package input

templ Text(name, placeholder string, value ...string) {
    // make sure we have at least 1 element
    {{ value = append(value, "") }}
    <input  class="text-gray-200 placeholder:text-gray-400 bg-slate-900 rounded border border-sky-500 p-2" type="text" name={name} placeholder={placeholder} value={value[0]}/>
}