package input

import "monkeydioude/grig/pkg/html/elements/form"

templ Text(name, placeholder string, value ...string) {
    // make sure we have at least 1 element
    {{ value = append(value, "") }}
    <input class={form.Input} type="text" name={name} placeholder={placeholder} value={value[0]}/>
}
