package hx

templ H1(text string) {
    <h1 class="text-sky-300 text-4xl m-5">{text}</h1>
}

templ H2(text string) {
    <h2 class="text-emerald-500 border-emerald-500 border-b my-2.5 pb-1 text-3xl">{text}</h2>
}

templ H3(text string) {
    <h2 class="text-sky-400 border-sky-400 border-b my-2.5 pb-1 text-3xl">{text}</h2>
}